<!DOCTYPE html>
<html>
    <head>
    	<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Full Stack App Template</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="/public/style.css">

        <!-- Fonts & Icons -->

	</head>

  <body>
      <header>

      </header>

      <main>
        <h1>This is a template to build a Full Stack App!</h1>
      </main>
    
      <footer>

      </footer>
    <script type="text/javascript" src="/public/main.js"></script>
  </body>
</html>
